{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit entry
{% endblock %}

{% block body %}
    <h1>Edit entry</h1>

    <form method="post">
        <input type="text" class="form-control" placeholder="Entry title" name="title" value="{{ title }}"/>

        <textarea class="form-control" placeholder="Your entry here.." name="content" rows="5">{{ content }}</textarea>

        {% csrf_token %}

        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
{% endblock %}