{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create listing</h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" placeholder="Product Name" name="name" class="form-control" required>
        </div>

        <div class="form-group">
            <input type="text" placeholder="Product Description" name="desc" class="form-control" required>
        </div>

        <div class="form-group">
            <input type="text" placeholder="Product Image URL" class="form-control" name="image_url">
        </div>

        <div class="form-group">
            <input type="text" placeholder="Price" class="form-control" name="price">
        </div>

        <div class="form-group">
            <select name="category" class="form-control">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
{% endblock %}